spring:
  application:
    name: productapi
  datasource:
    url: jdbc:h2:mem:products
    username: sa
    password: 123
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
